@page "/loginSuccess"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <br/>
<br/>
<br/>
<center><b><h1>Hello @context.User?.Identity?.Name. Have a nice day.</h1></b></center>
    </Authorized>
</AuthorizeView>


@code {

}