<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/41d56382-f29a-4dfc-990a-68d8ac543d44/resourcegroups/DMTPLDBlazorResourceGroup/providers/Microsoft.Web/sites/PLDBlazorWebApi</ResourceId>
    <ResourceGroup>DMTPLDBlazorResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/41d56382-f29a-4dfc-990a-68d8ac543d44/resourceGroups/DMTPLDBlazorResourceGroup/providers/Microsoft.ApiManagement/service/PLDBlazorWebApiManagementService2/apis/PLDBlazorWebApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://pldblazorwebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>93750c4a-4d43-41da-8cc6-99aaf6a748ac</ProjectGuid>
    <MSDeployServiceURL>pldblazorwebapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PLDBlazorWebApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$PLDBlazorWebApi</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>