@inherits LayoutComponentBase
<TelerikRootComponent>
    <div>
    <div class="container-fluid">
        <NavMenu />
    </div>
    <div class="container pt-2">

        <main>
            <article class="content">
            @Body
            </article>
        </main>
    </div>     
</div>
</TelerikRootComponent>
