@page "/role/roleUpdate/{Id:int}"
@page "/role/roleInsert"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Policy = ConstantClass.MaintenanceRolePolicy)]

@using PLD.Blazor.Common
@inject IRoleService roleService

@if (@Id == 0)
{
    <h3>New Role</h3>
}
else
{
    <h3>Update Role</h3>
}

@if (_saveOperation == true)
{
    <span>Role successfully saved</span>
    <br/>
}

<div class="container border mt-2 p-4">

    @if (_role != null)
    {
        <EditForm Model="@_role" OnValidSubmit="UpsertRole">
            <DataAnnotationsValidator />
            <CustomFormValidator @ref="_customFormValidator" />
            <div class="row mb-3">
                <div class="col">
                <ValidationSummary />
                </div>
            </div>
            <div class="row mb-3">
                <label for="@nameof(_role.Name)" class="col-2 col-form-label text-end">Name</label>
                <div class="col-10">
                   <input type="text" @bind-value="_role.Name" class="form-control" />                    
                </div>
            </div>
            <div class="row mb-3">
                <div class="offset-4 col-8">
                    <AuthorizeView Policy="@ConstantClass.MaintenanceRolePolicy" Context="authorizedContext">
                        <Authorized>
                            <button class="btn btn-primary">Save</button>
                        </Authorized>
                        <NotAuthorized>
                            <button class="btn btn-primary" disabled>Save</button>
                        </NotAuthorized>
                    </AuthorizeView>
                    <NavLink class="btn btn-secondary" href="role">Back</NavLink>
                </div>
            </div>
        </EditForm>
    }
</div>

@code {

    #region Parameters

        [Parameter]
        public int Id { get; set; }

    #endregion

    #region Fields
    
        private RoleDTO? _role;
        private bool _saveOperation = false;
        private CustomFormValidator? _customFormValidator;

    #endregion
    
    #region Methods

    protected override async Task OnInitializedAsync()
    {
        if (@Id == 0)
        {
            _role = new RoleDTO();
        }
        else
        {
            // Populate role if already exists
            _role = await roleService.GetById(Id);
        }
    }

    private async Task UpsertRole()
    {
        _customFormValidator?.ClearFormErrors();
        var errors = new Dictionary<string, List<string>>();
        try
        {
            _saveOperation = false;
            if (_role?.Id == 0)
            {
                var record = await roleService.GetByName(_role.Name);
                if (record != null)
                {

                    errors.Add(nameof(_role.Name),
                    new() { ConstantClass.RoleCannotAddRecordNameUsed });
                    _customFormValidator?.DisplayFormErrors(errors);
                }
                else
                {
                    // Insert Procedure.
                    if (_role.Id == 0)
                    {
                        _role.CreatedBy = ConstantClass.SystemUser;
                        _role.CreatedDate = System.DateTime.Now;
                        _role = await roleService.Create(_role);
                    }
                    _saveOperation = true;
                }
            }
            else
            {
                var record = await roleService.GetByNameAndNotID(_role?.Name == null ? String.Empty : _role.Name,
                    _role?.Id == null ? 0 : _role.Id);

                if (record != null && record.Any())
                {
                    errors.Add(nameof(_role.Name),
                    new() { ConstantClass.RoleCannotAddRecordNameUsed });
                    _customFormValidator?.DisplayFormErrors(errors);
                }
                else
                {
                    // Update the record
                    (_role = _role ?? new RoleDTO()).ModifiedBy = ConstantClass.SystemUser;
                    _role.ModifiedDate = System.DateTime.Now;
                    await roleService.Update(_role);
                    _saveOperation = true;
                }
            }
        }
        catch (Exception ex)
        {
            errors.Add(nameof(_role.Name),
                    new() { ex.Message });
            _customFormValidator?.DisplayFormErrors(errors);
            _saveOperation = false;
        }
    }

    #endregion

}
