@page "/commission"
@page "/"

<PageTitle>Commission</PageTitle>
<h3>Commission</h3>
<TelerikTabStrip @bind-ActiveTabIndex="@ActiveTabIndex">
        <TabStripTab Title="All">
            1
        </TabStripTab>
        <TabStripTab Title="Error">
            <NavLink href="/commissionerror/upsert" class="btn btn-primary"><i class="bi bi-plus-circle-fill"></i> Create</NavLink>
        </TabStripTab>
        <TabStripTab Title="Final">
            3
        </TabStripTab>
 </TelerikTabStrip>

@code {
    public int ActiveTabIndex { get; set; } = 0;
}
